In [1]:
# import libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import r2_score, accuracy_score

In [2]:
# read data
data = pd.read_csv("house_prices.csv")
data.head()

,Transaction,House age,Distance to MRT station,Number of convenience stores,Latitude,Longitude,House unit price
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [5]:
# create bins for house unit price
data["Class"] = pd.cut(data['House unit price'], bins=15)
# Get category codes
data['Class Id'] = data['Class'].cat.codes

In [6]:
data.head()

,Transaction,House age,Distance to MRT station,Number of convenience stores,Latitude,Longitude,House unit price,Class,Class Id
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9,"(36.907, 44.233]",4
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2,"(36.907, 44.233]",4
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3,"(44.233, 51.56]",5
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8,"(51.56, 58.887]",6
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1,"(36.907, 44.233]",4

In [8]:
# prepare training and test data
X = data
y = data['Class Id']

In [9]:
# split into test and training data
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42, test_size=.15)

In [13]:
# Train model
knn_model = KNeighborsClassifier()
knn_model.fit(X_train[['Latitude','Longitude']], y_train)
# predictions on test data
y_pred = knn_model.predict(X_test[['Latitude', 'Longitude']])
accuracy_score(y_test, y_pred)

0.4444444444444444

In [20]:
# predictions of categories
df_pred = pd.DataFrame(y_pred, columns=['Pred cat'])
df_pred['Pred'] = df_pred['Pred cat'].apply(lambda x: X_test['Class'].cat.categories[x].mid)

In [21]:
r2_score(X_test['House unit price'], df_pred['Pred'])

0.7016506576401823